BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 120
TabWidth: 2
UseTab: Never
AllowShortCaseLabelsOnASingleLine: true
AlignOperands: Align
AlignTrailingComments: true
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
AllowShortFunctionsOnASingleLine: false
PointerAlignment: Left
NamespaceIndentation: None
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2 
SpaceAfterTemplateKeyword: false
SortIncludes: false
AlignConsecutiveAssignments: true
AllowShortEnumsOnASingleLine: false
AlignConsecutiveMacros: AcrossEmptyLines
AlignEscapedNewlines: Left
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortLambdasOnASingleLine: Empty
AlignConsecutiveDeclarations: true